@import 'tailwindcss';
@source "../../../../packages/shared/src/**/*.{js,ts,jsx,tsx}";
@source "../../../../packages/shared/dist/**/*.{js,jsx}";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
